@model Fall2024_Assignment3_jbmcclenny.Models.ActorViewModel

@{
    ViewData["Title"] = "Actor-Template";
    var referer = Context.Request.Headers["Referer"].ToString();
    var defaultUrl = "/Home/Index.cshtml";
}

<!-- Go to previous page (defaults to index if not available) -->
<header>
    <a href="@(!string.IsNullOrEmpty(referer) ? referer : defaultUrl)" class="back-link">Back</a>
</header>

<div>
    <h1 class="name">@Model.ActorName</h1>

    <img class="headshot" src="@Model.HeadshotUrl" alt="Actor Headshot"></img>

    <ul>
        <li>
            <h3>Gender</h2>
            <p class="gender">@Model.Gender</p>
        </li>

        <li>
            <h3>Age</h2>
            <p class="age">@Model.Age</p>
        </li>
    </ul>

    <h2>Movies:</h2>
    <ul>
        @foreach (var movie in Model.Movies)
        {
            <li>
                <h3>@movie.MovieTitle</h3>
                <p class="role">@movie.Role</p>
            </li>
        }
    </ul>

    <h2>Related Tweets</h2>

    <h3>Twitter Sentiment Analysis</h3>
    <p class="twitter-sentiment">@Model.TwitterSentiment</p>

    <ul>
        @foreach (var tweet in Model.Tweets)
        {
            <li>
                <h3>@tweet.Author</h3>
                <p class="tweet">@tweet.Tweet</p>
            </li>
        }
    </ul>

</div>