@model IEnumerable<Fall2024_Assignment3_jbmcclenny.Models.MovieActorViewModel>

@{
    ViewData["Title"] = "Index";
}

<head>
    <link rel="stylesheet" href="~/css/movie-actor.css">
</head>

<h1 class="header">Index</h1>

@if (!Model.Any()) {
    <p>No connections available.</p>
} else {
    <div class="table">
        <table class="table inner-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Movie)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Actor)
                    </th>
                    <th>
                        Actions
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Movie.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Actor.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="sidebar">
    <a asp-action="Create" class="btn btn-mini">Create New</a>
    <hr />
    <a asp-controller="Home" asp-action="Index" class="btn btn-mini">Home</a>
    <a asp-controller="Movie" asp-action="Index" class="btn btn-mini">Movie Index</a>
    <a asp-controller="Actor" asp-action="Index" class="btn btn-mini">Actor Index</a>
</div>