@model Fall2024_Assignment3_jbmcclenny.Models.ActorViewModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/actor.css">
</head>

<div class="centered-horizontal">
    <h1 class="header">@Html.DisplayFor(model => model.Name)</h1>
    <br />
    <img src=@Model.HeadshotUrl alt="Headshot" class="headshot" />
    <br />
    <div class="table inner-table">
        @Html.DisplayNameFor(model => model.Gender) : @Html.DisplayFor(model => model.Gender)
        <br />
        @Html.DisplayNameFor(model => model.Age) : @Html.DisplayFor(model => model.Age)
    </div>
</div>

<div class="sidebar">
    <a asp-controller="Home" asp-action="Index" class="btn btn-mini">Home</a>
    <hr />
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-mini">Edit</a>
    <hr />
    <a asp-controller="Movie" asp-action="Index" class="btn btn-mini">Movie Index</a>
    <a asp-action="Index" class="btn btn-mini">Actor Index</a>
    <a asp-controller="MovieActor" asp-action="Index" class="btn btn-mini">Movie Actors</a>
</div>