@model Fall2024_Assignment3_jbmcclenny.Models.MovieViewModel

@{
    ViewData["Title"] = "Details";
}

<head>
    <link rel="stylesheet" href="~/css/movie.css">
</head>

<div class="centered-horizontal">
    <h1 class="header">@Html.DisplayFor(model => model.Name)</h1>
    <br /><hr />
    <img src=@Model.PosterUrl alt="Movie Poster" class="poster"/>
    <br />
    <a href=@Model.ImdbLink class="btn btn-primary">IMDB</a>
    <br />
    <div class="table inner-table">
        @Html.DisplayNameFor(model => model.Genre) : @Html.DisplayFor(model => model.Genre)
        <br />
        @Html.DisplayNameFor(model => model.ReleaseYear) : @Html.DisplayFor(model => model.ReleaseYear)
        <br />
    </div>
    <br />
    <div class="table inner-table">
        @Html.DisplayNameFor(model => model.GeneralSentiment) : @Html.DisplayFor(model => model.GeneralSentiment)
        <br />
        <h3>Reviews</h3>
        @if (Model.ReviewsList != null)
        {
            @foreach (var review in Model.ReviewsList)
            {
                <p>@review.Author: @review.Review</p>
            }
        }
    </div>
</div>

<div class="sidebar">
    <a asp-controller="Home" asp-action="Index" class="btn btn-mini">Home</a>
    <hr />
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-mini">Edit</a>
    <hr />
    <a asp-action="Index" class="btn btn-mini">Movie Index</a>
    <a asp-controller="Actor" asp-action="Index" class="btn btn-mini">Actor Index</a>
    <a asp-controller="MovieActor" asp-action="Index" class="btn btn-mini">Movie Actors</a>
</div>
